//Añadir o modificar cosas de SASS
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$new-colors: (  
  "color-base":    rgba(22, 22, 22, 1),
  "color-basev2":      rgb(34, 40, 49),
  "color-base2":    rgba(30,30,30,1),
  "texto":    rgba(231, 231, 231,1),
  "textonegro":    rgba(231, 231, 231,1),
  "textooscuro":    rgba(26, 32, 64,1)
);
$theme-colors: map-merge($theme-colors, $new-colors);

$new-spacers: (
    
    6: ($spacer * 5)
);
$spacers: map-merge($spacers, $new-spacers);

//Importar el SASS por completo
@import "bootstrap/scss/bootstrap";

$color-base: rgba(22, 22, 22, 1);
$color-base2: rgba(30,30,30,1);
$color-texto: rgb(231, 231, 231);
$color-texto-negro: rgb(26, 32, 64);

*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
  background-color: $color-base;
}

//Clases generales

.texto-sombreado {
  background: linear-gradient(to right, rgb(231, 231, 231), rgba(231, 231, 231, 0.2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.texto-sombreado-oscuro {
  background: linear-gradient(to right, rgb(26, 32, 64), 80%, rgba(231, 231, 231, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h5, p{
  color: $color-texto
}

/*.img-gris{
  filter: grayscale(100%);
}*/

.fondo-oscuro{
  background: linear-gradient(to right, rgb(231, 231, 231), 80%,rgba(231, 231, 231, 0.2));
}


//Intro Nav

@media (min-width: 300px){
  .container-sm, .container {
      max-width: 90%;
  }
}

@media (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
      margin: 0 2vw;
  }
}

@media (min-width: 768px){
  .mx3 {
      margin-left: 0;
  }
}

.container{
  margin-right: 40px;
}

.nav-link{
  color: $color-texto;
}

.navbar-brand{
  background: linear-gradient(to right, rgb(231, 231, 231), 80%,rgba(231, 231, 231, 0.2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

//Sobre Mi
.sobre-mi{
  background: linear-gradient(rgba(221, 221, 221, 1), 95%, rgba(221,209,203,1));
  //background-color: $color-base;
  padding-top: 150px;
  padding-bottom: 10px;
  text-align: center;
  color: $color-texto-negro;
  height: auto;
  padding-bottom: 50px;

  img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 40px;
  }
  p {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    color: $color-texto-negro;
    font-size: 1.4rem;
  }
  h1{
    margin: 0 auto;
    width: 40vw;
    margin-top: 50px;
    font-size: calc(1.375rem + 1.75vw);
    color: $color-texto-negro;
  }
  h5{
    margin: 0 auto;
    width: 80%;
  }
}

@media (max-width: 900px){
  .sobre-mi{
    h1{
      width: 65vw;
    }
  }
}

//Habilidades
.Habilidades{
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(221,209,193,1), 95%, rgba(178, 167, 146, 1));
  //background-color: $color-base2;
  text-align: center;
  height: auto;
  width: 100%;
  h1{
    padding-bottom: 10px;
  }
  h3{
    color: $color-texto-negro;
  }
}

.Habilidades-contenedor{
  margin: 0 auto;
  width: 70%;
  color: $color-texto-negro;
}

.img-container{
  width:100%;
  height:500px;
  img{
    width:200px;
    height:200px;
    object-fit: fill;
    margin-top: 50px;
  }
}

.carousel-caption{
  bottom: 2.5rem;
}

.card-read-more{
  padding-top: 10px;
  display: block;
  opacity: 0;
  height: 1rem;
  transition: all 0.5s;
}

.card-read-more-open{
  padding-top: 20px;
  display: block;
  opacity: 1;
  height: auto;
  transition: all 1s;
  color: $color-texto-negro;
}

.read-more-btn{
  margin-top: 20px;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  color: $color-texto-negro;
  background-color: transparent;
  border-radius: 10%;
}

@media (max-width: 900px){
  .Habilidades-contenedor{
    width: 95%;
  }
}

//Proyectos

.contenedor{
  background: linear-gradient(rgba(178, 167, 146, 1), 95%, rgba(221,209,193));
  text-align: center;
  padding: 100px 0px;
  height: auto;
  color: $color-texto;
  h1{
    margin-bottom: 100px;
  }
  .col-container{
    padding-bottom: 50px;
  }
}

.main-container{
  position: relative;
  width: 90%;
  height: 300px;
  //background-color: green;
  margin: 0 auto;
  text-align: center;
  &:hover > .the-card{
    transform: rotateY(180deg);
  }
  &:active > .the-card{
    transform: rotateY(180deg);
  }
}

.the-card{
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.the-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  //background: gray;
  .front-content{
    margin-top: 1rem;
    img{
      width: 80%;
      height: 250px;
      border-radius: 2%;
    }
    h5{
      color: $color-texto-negro;
    }
  }
}

.the-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  .back-content{
    margin-top: 4rem;
    height: 250px;
    background: rgba(221,209,193,1);
    border-radius: 10%;
    button{
      margin-bottom: 10px;
      background-color: transparent;
    }
    a{
      text-decoration: none;
      color: rgb(44, 44, 44);
      text-shadow: 1px 1px 1px #b9b9b9;
    }
    p{
      color: $color-texto-negro;
      padding-top: 10%;
    }
  }
}

.ocultar-carta{
  display: none;
}

//Contacto

.contactos{
  background-color: rgb(221,209,193);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: $color-texto-negro;

  .flex-contactos{
    padding-top: 50px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
      text-decoration: none;
      color: $color-texto-negro;
      padding: 0 10px;
      font-size: 1.5rem;
      &:visited{
        text-decoration: none;
      }
      &:hover{
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
      }
    }
    .icon{
      height: 60px;
      width: 60px;
    }
  }
}

.flex-icon{
  display: flex;
  align-items: center;
}

.contacto-texto{
  text-decoration: none;
}

@media (max-width: 900px){

  .contactos{

    .flex-contactos{
      flex-direction: column
      
    }
    .flex-icon{
      margin: 20px 0;
      a{
        font-size: 1rem;
      }
      .icon{
        width: 50px;
        height: 50px;
      }
    }
  }

}


//Añadir Idiomas
//Añadir modo color porque aja asi es la vida
//Terminar todo